body
{
    background-color: rgb(104, 104, 104);
}
h3
{
    font-size: 3vw;
    color: rgba(50,50,50,0.6);
}
#secLoginContent
{
    margin: 5% auto;
    border-radius: 15px;
    box-shadow: 7px 7px rgba(0,0,0,0.6);
    border: px solid black;
    background-color: white;
    padding: 50px 20px 50px 20px;
    text-align: center;
    max-width: 30%;
}